@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('ttf'),
    url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: 'Figtree', sans-serif;
}

.section-container {
  background-color: hsl(0, 0%, 100%);
  padding: 24px;
  width: 327px;
}

.post-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
