@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('ttf'),
    url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.main-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.section-container {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  box-shadow: 7px 7px hsl(0, 0%, 7%);
  padding: 24px;
  width: 327px;
}

.post-img {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  /* margin-bottom: 24px; */
}

.post-details-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px auto;
}

.category-tag {
  align-self: flex-start;
  text-align: center;
  background-color: hsl(47, 88%, 63%);
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0px;
}
